{% extends "base.html" %}
{% load crispy_forms_tags i18n %}
{% block extratitle %}{% translate "Change Password" %} - {% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'users:user-detail' username=request.user.username %}">{{ request.user.username }}</a></li>
  <li class="is-active"><a href="#" aria-current="page">{% translate "Change password" %}</a></li>
{% endblock breadcrumbs %}

{% block content %}
  <h1 class="title">{% translate "Change your password" %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="button is-success">{% translate "Update" %}</button>
    <a class="button is-white" href="{% url 'users:user-detail' username=request.user.username %}">{% translate "Discard changes and return to profile" %}</a>
  </form>
{% endblock content %}
