{% extends "base.html" %}
{% load crispy_forms_tags i18n %}
{% block extratitle %}{% translate "Edit profile" %}: {{ user.username }} - {% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'users:user-detail' username=user.username %}">{{ user.username }}</a></li>
  <li class="is-active"><a href="#" aria-current="page">{% translate "Edit" %}</a></li>
{% endblock breadcrumbs %}

{% block content %}
  <h1 class="title">{% translate "Edit profile for" %}: {{ user.username }}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br />
    <button class="button is-success" type="submit">{% translate "Update" %}</button>
    <a href="{% url 'users:user-detail' username=user.username %}" class="button is-white">{% translate "Discard changes and return to profile." %}</a>
  </form>
{% endblock content %}
